coverage.out
pkg/protocols/checkout
well-known-domains.dawg
dnstapir-edm.toml
pkg/runner/testdata/generated-*
*.tar.gz
/dnstapir-edm
*.src.rpm
rpm/
!rpm/SOURCES/ignored.dawg
!rpm/SOURCES/ignored-ips
!rpm/SOURCES/well-known-domains.dawg
!rpm/SOURCES/dnstapir-edm.service
!rpm/SOURCES/dnstapir-edm.sysusers.conf
!rpm/dnstapir-edm.spec.in
VERSION
RPM_VERSION
DEB_VERSION

# Ignore deb build directory and related stuff
*.deb
deb/
!deb/control.in
!deb/DEBIAN/postinst
!deb/DEBIAN/postrm

# Ignore output folder containing build artefacts
out/
comments/
/*.dawg
